@import "tailwindcss";

@theme {
  --color-sblue: #0077b6;
  --color-pblue: #00b4d8;
  --color-bgblue: #e0f2fe;
  --color-text: #474747;
  --color-text2: #909399;

  --spacing-hheader: 48px;
  --spacing-hnavbar: 56px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 0px; /* Ẩn thanh cuộn trên Chrome, Edge, Safari */
  background: transparent;
}
.custom-scrollbar {
  -ms-overflow-style: none; /* Ẩn trên IE, Edge */
  scrollbar-width: none; /* Ẩn trên Firefox */
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
}
